* {
  margin: 0;
  padding: 0;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

/* suggested stratigies */
.strateyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(240, 236, 236);
  border-radius: 20px;
  width: 33%;
  margin: 20px auto;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
  margin-top: 1px;
}

.errorText {
  font-size: 18px;
  font-weight: 700;
  color: gray;
}

.errorDate {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.strategyName {
  font-weight: 600;
  color: black;
}

.strategyCount {
  font-weight: 600;
  color: gray;
}

.strategies {
  font-weight: 600;
  color: gray;
}

@media (max-width: 768px) {
  .strateyContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }

  .strategyName {
    font-size: 12px;
    padding: 6px 10px;
  }

  .strategies {
    font-weight:bold;
    font-size: 12px;
    color: gray;
  }

  circle {
    width: 6px;
    height: 6px;
}
}

@media (max-width: 480px) {
  .strateyContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }

  .strategyName {
    font-size: 8px;
    padding: 4px 08px;
  }

  .strategies {
    font-weight: bold;
    font-size: 10px;
    color: gray;
  }


  circle {
    width: 2px;
    height: 2px;
}
}





@media (max-width: 318px) {

  .strateyContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
  }
  .strategyName {
    font-size: 8px;
    padding: 4px 8px;
  }

  .strategies {
    font-weight: bold;
    font-size: 8px;
    
  }

  .strategyCount {
    font-weight: bold;
    font-size: 8px;
    color: gray;
  }

  circle {
    width: 2px;
    height: 4px;
}
}